@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::selection {
  background-color: #CCD6E5;
}

*:focus {
  outline: none;
}

body {
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: #000;
}
a:visited {
  color: #000;
}

ul {
  list-style-type: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 20px;
  grid-gap: 12px 0px;
  overflow-x: hidden;
  background-color: #F7F7FC;
  color: #1D304C;
  padding: 12px;
  font-family: "Montserrat", sans-serif;
}
body main#main .continue-main .btn-another, body header#header #btn-account {
  color: #8392AA;
  background-color: transparent;
}
body main#main-empty section#add-item .form .btn-google, body main#main-account .form-box .form .btn-google, body main#main .continue-main .btn-google {
  display: flex;
  background-color: #ffffff;
  color: #444;
  font-family: "Roboto", sans-serif;
  padding: 8px 48px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 1px solid #CCD6E5;
  border-radius: 3px;
  margin-bottom: 12px;
}
body main#main-empty section#add-item .form .btn-recovery, body main#main-empty section#add-item .form .btn-new, body main#main-empty section#add-item .form .btn-login, body main#main-account .form-box .form .btn-recovery, body main#main-account .form-box .form .btn-new, body main#main-account .form-box .form .btn-login {
  padding: 10px;
  border: none;
  border-radius: 2px;
  font-weight: 600;
}
body header#header {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header#header .logo {
  font-family: "Lobster", cursive;
  font-size: 20px;
}
body header#header #logo a {
  color: #1D304C;
}
body header#header #btn-account {
  font-size: 14px;
}
body header#header #nav-desktop {
  display: none;
}
body header#header #nav-desktop ul {
  display: flex;
  align-items: center;
}
body header#header #nav-desktop ul li {
  font-weight: 500;
}
body header#header #nav-desktop ul li:last-of-type {
  padding: 28px 12px;
  background-color: #2deba2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
body header#header #nav-desktop ul li:last-of-type:hover {
  background-color: #14d188;
}
body header#header #nav-desktop a {
  font-size: 15px;
  padding: 12px;
}
body header#header #nav-user {
  display: flex;
  align-items: center;
}
body header#header #nav-user a {
  padding: auto;
  padding-left: 8px;
  font-size: 13px;
  color: #8392AA;
}
body header#header #nav-user img {
  width: 38px;
}
@media screen and (min-width: 768px) {
  body header#header {
    padding: 12px 36px;
  }
  body header#header #nav-mobile {
    display: none;
  }
  body header#header #nav-desktop {
    display: block;
  }
}
body footer#footer {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer#footer ul {
  display: flex;
}
body footer#footer a {
  padding: 0px 4px;
  color: #8392AA;
  font-size: 11px;
}
body footer#footer #copyright {
  display: none;
}
body footer#footer #copyright p {
  font-size: 11px;
  color: #8392AA;
}
body footer#footer #copyright a {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  body footer#footer {
    padding: 0 36px;
    justify-content: space-between;
    align-items: center;
  }
  body footer#footer #copyright {
    display: flex;
  }
}
body main#main {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}
body main#main #intro-main {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
body main#main #intro-main h2 {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}
body main#main #intro-main h2 + p {
  color: #8392AA;
  margin: 5px 0;
  font-size: 12px;
}
@media screen and (min-width: 375px) {
  body main#main #intro-main h2 {
    font-size: 32px;
  }
  body main#main #intro-main h2 + p {
    font-size: 13px;
  }
}
@media screen and (min-width: 425px) {
  body main#main #intro-main h2 {
    font-size: 36px;
  }
  body main#main #intro-main h2 + p {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  body main#main #intro-main h2 {
    font-size: 38px;
  }
}
body main#main #intro-main .bold {
  font-weight: 900;
}
body main#main #intro-main .d-switch {
  display: none;
}
body main#main #intro-main .regular {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main#main #img-main {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main#main #img-main img {
  width: 75%;
  max-width: 520px;
  transform: scale(-1, 1);
}
body main#main .continue-main {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main#main .continue-main .btn-another {
  font-size: 12px;
  padding: 6px;
}
@media screen and (min-width: 992px) {
  body main#main {
    grid-gap: 0 130px;
  }
  body main#main #intro-main {
    grid-column: 1/2;
    grid-row: 1/-1;
    align-items: center;
    justify-content: center;
    align-items: flex-end;
  }
  body main#main #intro-main h2 {
    text-align: start;
  }
  body main#main #intro-main .d-switch {
    display: flex;
  }
  body main#main #intro-main .regular {
    align-items: flex-start;
  }
  body main#main #intro-main .flex-start {
    margin-top: 20px;
    align-items: flex-start;
  }
  body main#main #intro-main .flex-start .btn-another {
    padding: 6px 0 0 0;
  }
  body main#main #img-main {
    grid-column: 2;
    grid-row: 1/4;
    justify-content: flex-start;
  }
  body main#main .continue-main {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  body main#main {
    grid-gap: 0 150px;
  }
  body main#main #intro-main h2 {
    font-size: 54px;
  }
}
@media screen and (min-width: 2400px) {
  body main#main {
    grid-gap: 0 360px;
  }
  body main#main #intro-main h2 {
    font-size: 72px;
  }
  body main#main #img-main img {
    width: 50%;
    max-width: 968px;
  }
}
body main#main-empty section#add-item .form .match, body main#main-account .form-box .form .match {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header#header .switch {
  display: none !important;
}
body main#main-account {
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main#main-account h3 {
  font-size: 22px;
  margin: 12px;
  display: flex;
  align-self: flex-start;
}
body main#main-account .form-box {
  width: 85%;
  max-width: 400px;
  height: auto;
  padding: 12px;
}
body main#main-account .form-box .form {
  padding: 12px;
  background-color: #ffffff;
}
body main#main-account .form-box .form form {
  display: flex;
  flex-direction: column;
}
body main#main-account .form-box .form label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}
body main#main-account .form-box .form input {
  margin-bottom: 10px;
  background-color: rgba(204, 214, 229, 0.3);
  border: 0;
  padding: 12px;
  border-radius: 3px;
}
body main#main-account .form-box .form .btn-login {
  margin-top: 8px;
  background-color: #28A745;
  color: #ffffff;
}
body main#main-account .form-box .form .btn-new {
  margin-top: 8px;
  background-color: #007BFF;
  color: #ffffff;
}
body main#main-account .form-box .form .btn-recovery {
  background-color: #ffb900;
}
body main#main-account .form-box .form .match {
  width: 100%;
}
body main#main-account .form-box .form .match a {
  font-size: 11px;
  padding: auto;
  padding-top: 12px;
  color: #8392AA;
}
body main#main-account .form-box form#contact-items {
  width: 100%;
  max-width: 600px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 4px;
  border-radius: 4px;
}
body main#main-account .form-box form#contact-items input {
  width: 100%;
  height: 40px;
}
body main#main-account .form-box form#contact-items input[type=text] {
  border: none;
  display: block;
  padding: 12px;
}
body main#main-account .form-box form#contact-items input[type=text]::placeholder {
  font-size: 12px;
  color: #CCD6E5;
}
body main#main-account .form-box form#contact-items .btn-items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  padding-right: 0px;
  padding-left: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
body main#main-account .form-box form#contact-items .btn-items img {
  width: 32px;
}
body main#main-account .form-box form#contact-items .btn-add {
  background-color: #2deba2;
  border: none;
  padding: 16px 24px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
body main#main-profile {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}
body main#main-profile #profile {
  width: 100%;
}
body main#main-profile .main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
body main#main-profile .main-section img {
  width: 30%;
  max-width: 200px;
  min-width: 110px;
}
body main#main-profile .main-section h5 {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 800;
}
body main#main-profile .main-section h5 + p {
  font-size: 13px;
  color: #8392AA;
  margin: 8px 0;
}
body main#main-profile .contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main#main-profile .contacts article.contact-item {
  width: 95%;
  max-width: 500px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 16px;
  border-radius: 5px;
}
body main#main-profile .contacts article.contact-item:hover img[alt=link-arrow] {
  transition: all 0.2s ease-in;
  transform: scale(1.2);
}
body main#main-profile .contacts article.contact-item .content {
  display: flex;
  align-items: center;
}
body main#main-profile .contacts article.contact-item .content p {
  font-size: 12px;
  font-weight: 600;
  margin-left: 12px;
  letter-spacing: 0.3px;
  color: #8392AA;
}
body main#main-empty {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}
body main#main-empty section#add-item {
  display: flex;
  justify-content: center;
  width: 100%;
}
body main#main-empty section#add-item .form {
  padding: 12px;
  background-color: #ffffff;
}
body main#main-empty section#add-item .form form {
  display: flex;
  flex-direction: column;
}
body main#main-empty section#add-item .form label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}
body main#main-empty section#add-item .form input {
  margin-bottom: 10px;
  background-color: rgba(204, 214, 229, 0.3);
  border: 0;
  padding: 12px;
  border-radius: 3px;
}
body main#main-empty section#add-item .form .btn-login {
  margin-top: 8px;
  background-color: #28A745;
  color: #ffffff;
}
body main#main-empty section#add-item .form .btn-new {
  margin-top: 8px;
  background-color: #007BFF;
  color: #ffffff;
}
body main#main-empty section#add-item .form .btn-recovery {
  background-color: #ffb900;
}
body main#main-empty section#add-item .form .match {
  width: 100%;
}
body main#main-empty section#add-item .form .match a {
  font-size: 11px;
  padding: auto;
  padding-top: 12px;
  color: #8392AA;
}
body main#main-empty section#add-item form#contact-items {
  width: 100%;
  max-width: 600px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 4px;
  border-radius: 4px;
}
body main#main-empty section#add-item form#contact-items input {
  width: 100%;
  height: 40px;
}
body main#main-empty section#add-item form#contact-items input[type=text] {
  border: none;
  display: block;
  padding: 12px;
}
body main#main-empty section#add-item form#contact-items input[type=text]::placeholder {
  font-size: 12px;
  color: #CCD6E5;
}
body main#main-empty section#add-item form#contact-items .btn-items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  padding-right: 0px;
  padding-left: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
body main#main-empty section#add-item form#contact-items .btn-items img {
  width: 32px;
}
body main#main-empty section#add-item form#contact-items .btn-add {
  background-color: #2deba2;
  border: none;
  padding: 16px 24px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
