%btn-trans
    color: var.$secondaryText
    background-color: transparent

%btn-google
    display: flex
    background-color: var.$white
    color: #444
    font-family: var.$robo
    padding: 8px 48px
    cursor: pointer
    justify-content: center
    align-items: center
    // padding: 20px 50px
    border: 1px solid var.$lightBlueGray
    border-radius: 3px
    margin-bottom: 12px

%btn-pattern
    padding: 10px
    border: none
    border-radius: 2px
    font-weight: 600
