.form
    padding: 12px
    background-color: var.$white

    form
        display: flex
        flex-direction: column

    label
        font-size: 12px
        font-weight: 500
        margin-bottom: 5px

    input
        margin-bottom: 10px
        background-color: rgba(var.$lightBlueGray, .3)
        border: 0
        padding: 12px
        border-radius: 3px

    .btn-google
        @extend %btn-google
    
    .btn-login
        @extend %btn-pattern
        margin-top: 8px
        background-color: var.$btnGreen
        color: var.$white

    .btn-new
        @extend %btn-pattern
        margin-top: 8px
        background-color: var.$btnBlue
        color: var.$white

    .btn-recovery
        @extend %btn-pattern
        background-color: var.$msYellow

    
    .match
        @extend %match
        width: 100%
        a
            font-size: 11px
            padding: auto
                top: 12px
            color: var.$secondaryText



form#contact-items
    width: 100%
    max-width: 600px
    height: 55px
    display: flex
    justify-content: center
    align-items: center
    background-color: #fff
    padding: 4px
    border-radius: 4px

    input
        width: 100%
        height: 40px
    
    input[type=text]
        border: none
        display: block
        padding: 12px

        &::placeholder
            font-size: 12px
            color: var.$lightBlueGray
        


    .btn-items
        display: flex
        align-items: center
        justify-content: center
        padding: 12px
            right: 0px
            left: 6px
        border: none
        background-color: transparent //var.$lightBlueGray
        cursor: pointer
        
        img
            width: 32px

    
    .btn-add
        background-color: var.$mainColor
        border: none
        padding: 16px 24px
        border-radius: 4px
        color: var.$white
        font-weight: 600
        cursor: pointer